
body{
    background-color: #F8F7F5;
    margin: 0%;
}

.headertop{
    display: flex;
    justify-content: flex-end;
    background-size:cover;
    list-style: none;
    text-decoration: none;
    width: 100%;
    position:fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8); 
}

.header{
    position: absolute;
    left: 3%;
    top: -8%;
    color: black;
}

.gnav li a{
    list-style: none;
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    color: black;
}

.gnav{
    display: flex;
    list-style: none;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}

.burger {
    display: none;
    cursor: pointer;
    margin-right: 5%;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-item a {
    display: block;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-active {
    transform: translateX(0%) !important;
}

/*追加以上*/

.fa-solid{
    padding-top: 4px;
}

.container-in{
    display: flex;
    list-style: none;
}

.menu{
    padding: 0% auto;
}

.top{
    background-image: url(image/AdobeStock_480313700.jpeg);
    text-align: center;
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.container-text1{
    font-size: 50px;
    padding-top: 22%;
}

.container-text2{
    font-size: 30px;
}

.container-text3{
    font-size: 30px;
}

.container-text4{
    font-size: 30px;
    color: red;
}

.container-text5{
    color: red;
    font-size: 20px;
}

/*他ページにはここまでコピー*/

.section1{
    padding-top: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.map{
    width: 25%;
    padding-top: 2%;
}

.section1-top {
    text-align: center;
    font-size: 25px;
    padding-top: 2%;
    border-bottom: dotted black;
    margin: 0% 10%;
}

.dotted-border {
    border-bottom: dotted black;
    margin: 0% 10%;
}

.dotted-border1 {
    border-bottom: dotted black;
    margin: 0% 10%;
}
 
.section1-text{
    line-height: 220%;
    margin-top: 5%;
    margin-left: 2%;
}

.section1-text-2{
    font-size: 30px;
}

.section1-text-3{
    font-size: 20px;
    padding-left: 2%;
}

.section1-text-4{
    font-size: 20px;
    padding-left: 10%;
}

.section2{
    text-align: center;
   
}

.section2-text{
    font-size: 130%;
}

.tele{
    background-color: #E9DCD1;
    border-color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    padding: 0% 20%;
    text-decoration: none;
}

.zaitaku{
    color: rgba(0,0,0,1);
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
}

.photo {
    width: 350px;
}

.number{
    border-bottom: solid black;
}

.space-around-top {
    display: flex;
    justify-content: space-around;
    margin: 2% 4% -4% 4%;
    padding-bottom: 2%;
}

.space-around-top img {
    padding: 0% 1%;
}

.space-around-top img + img {
    padding: 0% 3%;
}

.space-around-botton {
    display: flex;
    justify-content: space-around;
    margin :2% 4% -5% 4%;
}

.space-around-botton img {
    padding: 0% 1%;
}

.space-around-top p {
    text-align: center;
    font-size: 25px;
    text-align: inherit;
}

.space-around-botton p{
    text-align: center;
    font-size: 25px;
    text-align: inherit;
}

.under-grid{
    margin-top: 8%;
    text-align: center;
    font-size: 25px;
}

.section-midle-head{
    background-color: #E1EBDF;
    color: rgba(0,0,0,1);
    text-align: center;
    font-size: 25px;
    margin: 0% 10%;
}

.section-midle-inner{
    display: flex;
    justify-content: space-around;
    column-gap: 46px;
    margin-top: 2%;
    margin: 2% 4%;
}

.section-midle-inner p{
    text-align: center;
    font-size: 20px;
}

.section-midle-inner span{
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
}

.section-botton{
    background-color: #E1EBDF;
    color: rgba(0,0,0,1);
    text-align: center;
    font-size: 25px;
    margin: 0% 10%;
}

.section-botton-headline{
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
}

.section-botton-text{
    padding: 0% 5%;
}

.fotter{
    padding: 2% 0%;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
    background-color: #E9DCD1;
    color: rgba(0,0,0,1);
    margin-top: 1%;
}

.tele-last{
    font-size: 24px;
}

.fotter-text{
    text-decoration: underline;
}

.fotter-text-nomal{
    font-weight: normal;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes gnavFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width:768px) and (max-width:834px) {
    
    .head {
        padding-left: 55%;
    }

    .headertop{
        justify-content: start;
    }

    .gnav {
        display: flex;
        list-style: none;
        margin-right: -20px;
    }

    .container-text1 {
        font-size: 35px;
        padding-top: 25%;
    }

    .space-around-top {
        display: grid;
    }

    .space-around-top p {
        text-align:initial;
        font-size: 25px;
    }

    .space-around-botton {
        display: grid;
    }
    
    .under-grid {
        margin-top: 8%;
        text-align: center;
        font-size: 20px;
    }

    .section-midle-inner {
        display: block;
        text-align: center;
        column-gap: 46px;
        margin-top: 2%;
        margin: 2% 4%;
    }

    .number {
        border-bottom: solid black;
        margin: 0% 25%;
    }

    .fotter {
        padding: 0%;
        text-align: center;
        max-width: 100%;
        pointer-events: all;
        background-color: #E9DCD1;
        color: rgba(0,0,0,1);
        margin-top: 1%;
    }
}

@media (min-width:375px) and (max-width:414px) {

    .body {
        overflow-x: hidden;
        
    }

    .header {
        position: absolute;
        left: 3%;
        top: -62%;
        color: black;
    }

    .gnav {
        display: flex;
        position: absolute;
        right: 0;
        height: 276%;
        top: 44%;
        background-color: rgba(200,200,200,0.5);
        flex-direction: column;
        width: 118px;
        transform: translateX(100%);
        z-index: 30;
        margin-right: -20px;
    }

    .nav-item a {
        display: block;
        color: black;
        padding: 0.5px 1px;
        text-decoration: none;
    }

    .burger {
        display: block;
    }

    .container-text1 {
        font-size: 20px;
        padding-top: 22%;
    }

    .container-text2 {
        font-size: 18px;
    }

    .section1-top {
        text-align: center;
        font-size: 25px;
        padding-top: 2%;
        border-bottom: dotted black;
        margin: 0% 10%;
    }

    .section1 {
        display: block;
        padding-top: 2%;
        text-align: center;
    }

    .section1-text {
        line-height: 150%;
        margin-top: 5%;
        margin-left: -2%;
    }

    .map {
        width: 50%;
        padding-top: 2%;
    }

    .section1-text-2 {
        font-size: 17px;
    }

    .section1-text-3 {
        font-size: 17px;
        padding-left: -2%;
    }

    .section1-text-4 {
        font-size: 17px;
        padding-left: -10%;
    }

    .section2-text {
        font-size: 98%;
    }

    .space-around-top {
        display: flex;
        display: block;
        justify-content: space-around;
        margin: 2% 4% -4% 4%;
        padding-bottom: 2%;
    }

    .space-around-top p {
        text-align: center;
        font-size: 25px;
        margin-right: 1%;
    }

    .space-around-botton {
        display: flex;
        display: block;
        justify-content: space-around;
        margin: 2% 4% -5% 4%;
    }

    .space-around-botton p {
        text-align: center;
        font-size: 25px;
        margin-right: 2%;
    }

    .under-grid {
        margin-top: 16%;
        text-align: center;
        font-size: 20px;
    }

    .dotted-border1 {
        margin: 0% 10%;
        border: none;
    }

    .section-midle-inner {
        display: flex;
        display: block;
        justify-content: space-around;
        column-gap: 46px;
        margin-top: 2%;
        margin: 2% 4%;
    }

    .section-botton-headline {
        margin-top: 3%;
        text-align: center;
        font-size: 22px;
    }

    .fotter {
        padding: 2% 0%;
        max-width: 100%;
        pointer-events: all;
        background-color: #E9DCD1;
        color: rgba(0,0,0,1);
        margin-top: 1%;
        text-align: center;
    }
     
}